<script src="../feng3d/dist/index.js"></script>
<script src="../pixijs/dist/index.js"></script>

<body>
    <!-- <script src="./examples/js/demos-basic/container.js"></script> -->
    <!-- <script src="./examples/js/demos-basic/transparent-background.js"></script> -->
    <!-- <script src="./examples/js/demos-basic/tinting.js"></script> -->
    <!-- <script src="./examples/js/demos-basic/cacheAsBitmap.js"></script> -->
    <!-- <script src="./examples/js/demos-basic/particle-container.js"></script> -->
    <!-- <script src="./examples/js/demos-basic/simpleplane.js"></script> -->
    <script src="./examples/js/sprite/tiling-sprite.js"></script>
</body>